@model SingularStaffOrders.Models.ViewModels.ProductsViewModel

@using (Ajax.BeginForm("AddToCart", "Home", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "progress", OnSuccess = "OnAddToCartSuccess", OnBegin = "onAddToCartBegin", OnFailure = "OnAddToCartFailure" }))
{
    @Html.HiddenFor(m => m.Price)
    @Html.HiddenFor(m => m.ProductId)
    @Html.HiddenFor(m => m.ProductTitle)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.Image)
    <button type="submit" id="addToCart" class="btn btn-info"> <span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; To Cart</button>
}

